td.btn-edit{
    flex: 1;
    flex-direction: column;
    align-self: flex-end;
    justify-content: flex-end;
    display: flex;
    text-align: end;
}

.btn-right {
    display: flex;
    align-self: flex-end;
}

tr.items-list {
    list-style: none inside;
    flex-grow: 1;
}
tr.items-list td h5{
    display: flex;
    margin: 10px 0;
}

.table h5{
    color: rgb(186, 120, 2);
}

div#education{
    margin: 5px;
    background-color: black;
    margin-bottom: 0px;   
    
}
div#education p{
    color: beige;
}

div#educ{
    background-color: rgb(109, 83, 6);
}

#myModalEduc{
    color: rgb(212, 175, 55);
}