tr.items-list td h5{
    display: flex;
    margin: 10px 0;
}
.table h5{
    color: rgb(186, 120, 2);
}
td.btn-edit{
    flex: 1;
    flex-direction: column;
    align-self: flex-end;
    justify-content: flex-end;
    display: flex;
    text-align: end;
}

.btn-right {
    display: flex;
    align-self: flex-end;
}

#myModalProyect{
    color: rgb(212, 175, 55);
}

tr.items-list {
    list-style: none inside;
    flex-grow: 1;
}

div#proyect{
    background-color: black;
    margin: 5px;
}

div#proyect p{
    color: beige;
}

